[Unit]
Description=Omen Fan Control Service
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/omen-fan
Restart=always
User=root

[Install]
WantedBy=multi-user.target